html{
	background:url('lattice_fence_grid_glare_119286_2048x1152.jpg') no-repeat center fixed;
	background-size: cover;
}

form{
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color:white;
	width: 30%;
}

div{padding; 5px;}

.center{
	margin: auto;
	padding: 5px;
	text-align: center;
}

p{font-size:20px;}
h2{text-align: center;}
input, select{border-radius: 5px; height: 30px;}
i{float: right; overflow: auto;}

.then{
	background-color:#008CBA;
	border: none;
	text-align: center;
	font-size: 16px;
	height:40px; 
	width:200px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom:10px; 
}