@font-face {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Romul';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Romul.ttf') format('ttf');
}